attrs==17.2.0
autobahn==17.9.2
Automat==0.6.0
buildbot==0.9.11
buildbot-console-view==0.9.11
buildbot-grid-view==0.9.11
buildbot-waterfall-view==0.9.11
buildbot-worker==0.9.11
buildbot-www==0.9.11
certifi==2017.7.27.1
chardet==3.0.4
constantly==15.1.0
decorator==4.1.2
-e git+git@github.com:johnramsden/buildbot-digitalocean-latent-worker.git@ee7c294ec0cfd071a7e1d59daba8194aa3039ddf#egg=digitalocean_latent_worker
future==0.16.0
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
Jinja2==2.9.6
MarkupSafe==1.0
pbr==3.1.1
PyJWT==1.5.3
python-dateutil==2.6.1
python-digitalocean==1.12
requests==2.18.4
six==1.11.0
SQLAlchemy==1.1.14
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
Tempita==0.5.2
Twisted==17.9.0
txaio==2.8.2
urllib3==1.22
zope.interface==4.4.3
