# -*- python -*-
# ex: set syntax=python:

# Users
user_john = "example_pass"

bez_worker_pass = "example_pass"

# Github credentials, these allow for an increased number of API calls
# to be made without throttling and for status updates to be pushed for
# pull requests.
# github_secret = "secret"
github_token = "example_secret"

# Digitalocean api key
digitalocean_api_key = "example_apikey"
